.clear {
    clear:both;
}

.word {
    position: relative;
    background-color: silver;
}

.word-text {
    /*float:left;*/
    color: red;
}

.video-word-thumbnail {
    /*float: right;*/
    width: 32px;
    height: 32px;
    margin: 3px;
    /*font-size: 8pt;*/
    background-color: purple;
}
