html {
    font-family: "Helvetica Neue";
}

body {
    color:white;
}

#phone {
    position:relative;
    background-color:#000000;
    padding-top:10px;
    margin-right:500px;
    border-radius:60px;
    width:350px;
    height:550px;
}

#screen {
    border-radius:5px;
    padding:10px;
    position:relative;
    background-color:#005459;
    margin-top:50px;
    margin-left:15px;
    width:300px;
    height:420px;
}

li {
    background-color:#7da9aa;
    text-align:center;
    list-style-type:none;
    padding:20px;
    margin-top: 15px;
    margin-left:0px;
    margin-right:40px;
}

ul {
    margin-left:0px;
}

a {
    text-decoration:none;
    color:white;
}

.centered {
    text-align:center;
}

#backButton {
    position:absolute;
    bottom:35px;
    left:50px;
}

#nextButton {
    position:absolute;
    bottom:35px;
    left:260px;
}

#search_bar {
    margin-left:30px;
    width:260px;  
}

#search_results {
    /*background-color:#ffffff;*/
    margin-top:20px;
    margin-left:1px;
    width:300px;
    height:300px;
    overflow-y: auto;
}

.option {
    background-color:#7da9aa;
    float:left;
    padding:5px;
    margin:5px;
    width:70px;
    text-align:center;
    border-style:solid;
    border-width:3px;
}

body {
    color:white;
   
}

/*#phone {
    position:relative;
    background-color:#000000;
    padding-top:10px;
    margin-right:1000px;
    border-radius:60px;
    width:350px;
    height:550px;
}

#screen {
    position:relative;
    background-color:#005459;
    margin-top:50px;
    margin-left:15px;
    width:320px;
    height:420px;
}*/

.video-display {
    /*position: absolute;
    top: -50px;*/
    width:300px;
    height:240px;
}

ul {
    margin-left:0px;
}

li {
    background-color:#7da9aa;
    text-align:center;
    list-style-type:none;
    padding:20px;
    margin-top: 15px;
    margin-left:0px;
    margin-right:40px;
}

a {
    text-decoration:none;
    color:white;
}

.centered {
    text-align:center;
}

#backButton {
    position:absolute;
    bottom:35px;
    left:50px;
}

#search_bar {
    margin-left:30px;
    width:260px;  
}

#search_results {
    /*background-color:#ffffff;
    margin-top:20px;
    margin-left:10px;
    width:300px;
    height:300px;
    overflow-y: auto;*/
}

.correct_incorrect_option
{
    position:absolute;
    top:90px;
    left:10px;
    width:300px;
    height:200px;
}

.incorrect_option
{
    border-style:solid;
    border-width:3px;
    border-color:red; 
}

.correct_option
{
    border-style:solid;
    border-width:3px;
    border-color:green; 
}

