<html data-ng-app="search">
	<head>
		<meta charset = "UTF-8"/>
		<title>Sentence search</title>
		<link rel = "stylesheet" type="text/css" href = "css/style.css"/>
                <link rel = "stylesheet" type="text/css" href = "css/search.css"/>
                
                <script src="js/jquery.js"></script>
                <script src="js/angular.min.js"></script>
                <script src="js/words.js"></script>
                <script src="js/index.js"></script>
                <script src="js/controllers/search_controller.js"></script>
	</head>

        <body data-ng-controller="SearchController">
		
          <div id ="phone">
            <div id ="screen">
                <h3 class =" centered">Sentence search</h3>
                 <input type ="text" id="search_bar" data-ng-model="word_to_filter"/>
                 <div id ="search_results">
                    <ul data-ng-repeat="sentence in sentences | filter:word_to_filter">
                        <li>
                            <div class="word">
                                <div class="word-text"><a href="video_player.html?video={{sentence.video}}">{{sentence.humanized}}</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
          </div>
              <a href = "features_menu.html" id ="backButton">Back</a>
          </div>
		
	</body>
</html>